@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(from -30.17deg at 77.29% 66.03%, rgba(172, 182, 229, 0.6) -90.35deg, #74EBD5 43.8deg, rgba(172, 182, 229, 0.6) 269.65deg, #74EBD5 403.8deg);
}

input {
  color:#74EBD5;
  padding: 17px;
  outline: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 50%;
  border: none;
  margin: 2px;
}

.btn{
  width: 64px;
  height: 67px;
  border: none;
  margin: 2px;
}

.text{
  width: 170px;
  height: 40px;
  border-radius: 22px;
  background: black;
}

.main{
  display: inline-block;
}

.maincolor{
  background-color: black;
  border-radius: 50%;
  width: 64px;
  height: 67px;
  border: none;
}